
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sửa người dùng</title>
</head>
<body>
    <div class="container content" id="content-layout">
        <form action="~/User/UpdateUser" class="horizontal-form" id="form-request" method="post">
            <div class="title-header">
                <div class="title-grid">
                    <div class="title-flexi-truncate">
                        <div class="title-media">
                            <div class="title-media__figure">
                                <div>
                                    <div class="title-icon" style="background-color: #A094ED">
                                        <span>
                                            <img src="~/Content/CustomCSS/Image/contact_120.png" class="title-icon" alt="Contacts" title="Contacts">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <nav>
                                    <ol class="title-ol">
                                        <li class="title-li">
                                            <span>Người dùng</span>
                                        </li>
                                    </ol>
                                </nav>
                                <div class="title-grid">
                                    <div class="title-header__title">
                                        <div class="title-name">
                                            <div>
                                                <span>Sửa người dùng</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-content row">
                <div class="col-md-9">
                    <div class="col-md-12">
                        <div class="general-infor margin-top-15">
                            <div class="col-md-12 infor-title">
                                Th&#244;ng tin cơ bản
                            </div>
                            <div class="col-md-12 infor-body" style="padding-top: 25px; padding-left: 300px">
                                <div class="col-md-12 no-padding">
                                    <div class="form-group col-md-12 padding-top-10 namecheck">
                                        <label class="col-md-5 control-label">Mã người dùng</label>
                                        <div class="col-md-7">
                                            <input id="" name="" type="text" class='form-control ' value="@Model.Id" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 padding-top-10" id="hoten">
                                    <label class="col-md-5 control-label">Họ và tên đầy đủ</label>
                                    <div class="col-md-7">
                                        <input id="" type="text" value="@Model.Name" class="form-control " name="Name" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 padding-top-10" id="">
                                    <label class="col-md-5 control-label">Tên người dùng</label>
                                    <div class="col-md-7">
                                        <input type="hidden" name="" value="3">
                                        <input id="" type="text" value="@Model.UserName" class="form-control " />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 padding-top-10" id="T&#234;n viết tắt">
                                    <label class="col-md-5 control-label">Giới tính</label>
                                    <div class="col-md-7" style="display: flex; flex-direction: row">
                                        <div>
                                            <input type="radio" name="Sex" value="false" checked> Nam
                                        </div>
                                        <div style="padding-left: 30px">
                                            <input type="radio" name="Sex" value="true"> Nữ
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 padding-top-10" id="">
                                    <label class="col-md-5 control-label">Số điện thoại</label><div class="col-md-7"><input id="" type="text" value="@Model.Phone" class="form-control " name="Phone" /></div>
                                </div>
                                <div class="form-group col-md-12 padding-top-10" id="">
                                    <label class="col-md-5 control-label">Chức vụ</label>
                                    <div class="col-md-7" style="display: flex; flex-direction: row">
                                        @if (Model.Status == 1)
                                        {
                                            <div>
                                                <input type="radio" name="Status" value="0"> Nhân viên
                                            </div>
                                            <div style="padding-left: 30px">
                                                <input type="radio" name="Status" value="1" checked> Trưởng phòng
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                <input type="radio" name="Status" value="0" checked> Nhân viên
                                            </div>
                                            <div style="padding-left: 30px">
                                                <input type="radio" name="Status" value="1"> Trưởng phòng
                                            </div>
                                        }

                                    </div>
                                </div>
                                <input type="hidden" id="IdDepartmentHidden" value="@Model.IdDepartment" />
                                <div class="form-group col-md-12 padding-top-10" id="T&#234;n viết tắt">
                                    <label class="col-md-5 control-label">Phòng ban</label>
                                    <div class="col-md-7" style="display: flex; flex-direction: row">
                                        <select name="IdDepartment" id="IdDepartment">
                                            @foreach (var item1 in ViewBag.IdDepartment)
                                            {
                                                <option value="@item1.Id">@item1.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 " style="padding-left: 450px">
                        <div class="margin-top-30">
                            <div class="col-md-7 text-center">
                                <button type="submit" class="btn btn-success ">
                                    <i></i> Sửa người dùng
                                </button>
                                <a href="~/User/IndexUser" class="btn grey-salt gray" type="button">
                                    <i></i> Hủy
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
<script src="~/Content/CustomJS/User/Update.js"></script>