@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sản phẩm</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="~/favicon.ico">
    <link href="~/Content/theme/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/theme/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/theme/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/theme/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/theme/icons/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/select2-4.0.3/css/select2.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS/Custom_Layout_Backend.css" rel="stylesheet" />
    <link href="~/Content/theme/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/theme/plugins/DataTables/datatables.min.css">



    <link href="~/Content/CustomCSS/Common/CommonModule.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS/FileUpload/FileUploadBackend.css" rel="stylesheet" />


    <!--thu vien cua tim kiem-->

    <link rel="stylesheet" href="~/Content/filescan/css/style.css">

    <script src="~/Content/filescan/js/document.js"></script>

    <script src="~/Content/filescan/js/site.js"></script>

</head>
<body>
    <div class="container content" id="content-layout">
        <link href="~/Content/CustomCSS/Accounts/Index.css" rel="stylesheet" />
        <link href="~/Content/theme/plugins/DataTables/datatables.css" rel="stylesheet" />
        <link href="~/Content/theme/plugins/DataTables/jquery.dataTables.css" rel="stylesheet" />
        <link href="~/Content/theme/plugins/DataTables/fixedHeader.dataTables.css" rel="stylesheet" />
        <div class="title-header">
            <div class="title-grid">
                <div class="title-flexi-truncate">
                    <div class="title-media">
                        <div class="title-media__figure">
                            <div>
                                <div class="title-icon">
                                    <span>
                                        <img src="~/Content/CustomCSS/Image/contact_120.png" class="title-icon" alt="Contacts" title="Contacts">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <nav>
                                <ol class="title-ol">
                                    <li class="title-li">
                                        <span>Sản phẩm</span>
                                    </li>
                                </ol>
                            </nav>
                            <div class="title-grid">
                                <div class="title-header__title">
                                    <div class="title-name">
                                        <div>
                                            <span>Danh sách sản phẩm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-content" style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <div style="flex: 0.6">
                        <form method="post" action="~/Product/Index">
                            <div style="display: flex; padding-top: 20px; padding-left: 30px">
                                <input style="width: 200px " type="text" name="key" placeholder="Gõ tìm kiếm">
                                <button type="submit" class="btn btn title-button title-button--neutral" style="margin-left: 10px">
                                    Tìm kiếm
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="title-grid" style="flex: 0.4; justify-content: flex-end; padding-top: 20px; padding-right: 30px; ">
                        <ul>
                            <li class="btn btn title-button title-button--neutral" onclick="replaceEditAcc()">
                                <a href="~/Product/Insert">
                                    Th&#234;m mới
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="padding-top: 10px">
                    <div style="padding-top: 10px">
                        <table id="myTable" class="table table-bordered" style="background-color: white;">
                            <thead>
                                <tr align="center">
                                    <th class="sort_col_table" scope="col"> Mã sản phẩm <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Tên sản phẩm <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> SL còn <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Mô tả <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Giá <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Giảm giá(%) <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Đơn vị tính <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col">Active</th>
                                </tr>
                                <tr align="center">
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search1" onkeyup="search1()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search2" onkeyup="search2()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search3" onkeyup="search3()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search4" onkeyup="search4()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search5" onkeyup="search5()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search6" onkeyup="search6()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search7" onkeyup="search7()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr align="center">
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.NumberRemain</td>
                                        <td>@item.Description</td>
                                        <td>@item.Price</td>
                                        <td>@item.Discount%</td>
                                        <td>@item.Unit</td>
                                        <td>
                                            <a href="@Url.Action("Update", "Product", new {id = item.Id })"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <button onclick="isDelete()" style="margin-left: 10px"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            <input type="hidden" name="" id="idin" value="@item.Id" size="30" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/Content/theme/plugins/canvasjs-2.3.2/canvasjs.min.js"></script>
<script src="~/Content/CustomJS/NewFeed/NewFeed.js"></script>
<script src="~/Content/CustomJS/Dashboard/Dashboard.js"></script>
<script src="~/Content/theme/plugins/DataTables/jquery.dataTables.js"></script>
<script src="~/Content/theme/plugins/DataTables/dataTables.fixedHeader.js"></script>
<script src="~/Content/theme/plugins/DataTables/FixedColumns-3.2.4/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="~/Content/theme/plugins/notify.js"></script>
<script src="~/Content/CustomJS/Comment/CommentBackend.js"></script>
<script src="~/Content/CustomJS/FileUpload/FileUploadBackend.js"></script>

<script src="~/Content/theme/plugins/jQuery/jquery-3.5.1.js"></script>
<script src="~/Content/theme/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/Content/theme/bootstrap/js/bootstrap.min.js"></script>

<script src="~/Content/filescan/js/document.js"></script>
<script src="~/Content/theme/plugins/jQuery/jquery.min.js"></script>
<script href="~/Content/theme/plugins/DataTables/datatables.min.js"></script>

<script type="text/javascript">

    function isDelete() {
        var inputVal = $('input').val()
        var inputid = document.getElementById("idin").value;
        var result = confirm("Bạn có chắc chắn muốn xoá không ?");
        var url = '/Product/Delete/' + inputid;

        if (result) {

            window.location.href = url;
        } 
    }

</script>