@using QLCT.Models
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model QLCT.Models.Product
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thêm sản phẩm</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="~/favicon.ico">
    <link href="~/Content/theme/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/theme/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/theme/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/theme/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/theme/icons/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/select2-4.0.3/css/select2.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS/Custom_Layout_Backend.css" rel="stylesheet" />


    <script src="~/Content/theme/plugins/jQuery/jquery-2.2.3.min.js"></script>


    <script type="text/javascript" src="~/Content/theme/plugins/notify.js"></script>
    <script src="~/Content/CustomJS/Comment/CommentBackend.js"></script>
    <script src="~/Content/CustomJS/FileUpload/FileUploadBackend.js"></script>
    <link href="~/Content/CustomCSS/Common/CommonModule.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS/FileUpload/FileUploadBackend.css" rel="stylesheet" />

</head>
<body>
    <div class="container content" id="content-layout">

        <link href="~/Content/CustomCSS/Accounts/Edit.css" rel="stylesheet" />
        <link href="~/Content/theme/plugins/DataTables/datatables.css" rel="stylesheet" />
        <form method="post" action="/Product/Insert">
            <div class="title-header">
                <div class="title-grid">
                    <div class="title-flexi-truncate">
                        <div class="title-media">
                            <div class="title-media__figure">
                                <div>
                                    <div class="title-icon" style="background-color: #A094ED">
                                        <span>
                                            <img src="~/Content/CustomCSS/Image/contact_120.png" class="title-icon" alt="Contacts" title="Contacts">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <nav>
                                    <ol class="title-ol">
                                        <li class="title-li">
                                            <span>Sản phẩm</span>
                                        </li>
                                    </ol>
                                </nav>
                                <div class="title-grid">
                                    <div class="title-header__title">
                                        <div class="title-name">
                                            <div>
                                                <span>Thêm sản phẩm</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-content row">
                <div class="col-md-9">
                    <div class="col-md-12">
                        <div class="general-infor margin-top-15">
                            <div class="col-md-12 infor-title">
                                Th&#244;ng tin cơ bản
                            </div>
                            <div class="col-md-12 infor-body" style="padding-top: 25px; padding-left: 100px">
                                <div class="form-group col-md-6 padding-top-10" id="T&#234;n viết tắt">
                                    <label class='col-md-4 control-label'>Tên sản phẩm</label>
                                    <div class='col-md-8'>
                                        <select name="IdProduct" id="selectedPro">
                                            <option>Chọn sản phẩm</option>
                                            @foreach (var item in @ViewBag.lstPro)
                                            {
                                                <option value="@item.Id" data-name="@item.Name" data-price="@item.Price" data-discount="@item.Discount" data-time="@item.MonthOfGuarantee" data-unit="@item.Unit">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="M&#227; bưu ch&#237;nh">
                                    <label class='col-md-4 control-label'>Số Lượng</label><div class='col-md-8'><input required="" type="text" class="form-control" name='NumberRemain' id="sl"></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="Số fax">
                                    <label class='col-md-4 control-label'>Mô tả</label><div class='col-md-8'><input required="" type="text" class="form-control" name='Description'></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="Địa chỉ KH">
                                    <label class='col-md-4 control-label'>Giá</label><div class='col-md-8'><input required="" type="text" class="form-control" name='Price' id="price"></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="M&#227; số thuế">
                                    <label class='col-md-4 control-label'>Giảm giá(%)</label><div class='col-md-8'><input required="" type="text" class="form-control" name='Discount' id="discount"></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="M&#227; số thuế">
                                    <label class='col-md-4 control-label'>Đơn vị tính</label><div class='col-md-8'><input required="" type="text" class="form-control" name='Unit' id="unit"></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="M&#227; số thuế">
                                    <label class='col-md-4 control-label'>Thời hạn bảo hành</label><div class='col-md-8'><input type='text' class='form-control' name="MonthOfGuarantee" id="time"/></div>
                                </div>
                            </div>
                            <div class="form-group col-md-2 padding-top-10" id="tenbh" style="margin-left: 400px">
                                <button type="button" onclick="getValue()" name="" id="btnThemsp" value="1" style="width: 150px">Thêm vào danh sách</button>
                            </div>
                            <input type="hidden" id="hiddenIndex" name="hiddenIndex" />
                        </div>
                    </div>
                    <div class="col-md-12 infor-title">
                        Danh sách các sản phẩm thêm
                    </div>
                    <div class="col-md-12 infor-body" style="padding-top: 25px; padding-left: 100px">
                        <script type="text/javascript">
                            function getValue() {
                                var i = $('#btnThemsp').val();
                                let html = '<tr align="center">';
                                html += '<td>';
                                html += $('#selectedPro').val();
                                html += '</td>';
                                html += '<td>';
                                html += $('#selectedPro').find(":selected").data('name');
                                html += '</td>';
                                html += '<td name="Number' + i + '">';
                                html += $('#sl').val();
                                html += '</td>';
                                html += '<td name="Price' + i + '">';
                                html += $('#price').val();
                                html += '</td>';
                                html += '<td name="Discount' + i + '">';
                                html += $('#discount').val();
                                html += '</td>';
                                html += '<td name="MonthOfGuarantee' + i + '">';
                                html += $('#time').val();
                                html += '</td>';
                                html += '<td name="Unit' + i + '">';
                                html += $('#unit').val();
                                html += '</td>';
                                html += '<td>';
                                html += '<button onclick="isDelete()" style="margin-left: 10px"><i class="fa fa-trash-o" aria-hidden="true"></i></button>';
                                html += '</td>';
                                html += '</tr>';
                                $("#tbody").append(html);
                                $('#hiddenIndex').val(i);
                                let html1 = '<input type="hidden" name="IdPro' + i + '" value="' + $('#selectedPro').val() + '" />';
                                html1 += '<input type="hidden" name="NamePro' + i + '" value="' + $('#selectedPro').find(":selected").data('name') + '" />';
                                html1 += '<input type="hidden" name="Number' + i + '" value="' + $('#sl').val() + '" />';
                                $("#tbody").append(html1);
                                $('#btnThemsp').val(++i);
                            }
                        </script>
                    </div>
                    <div style="padding-top: 10px; margin-left: 50px">
                        <table id="myTable" class="table table-bordered" style="background-color: white;">
                            <thead>
                                <tr align="center">
                                    <th class="sort_col_table" scope="col"> Mã sản phẩm <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Tên sản phẩm <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Số lượng <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Giá <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Giảm giá <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Thời hạn bảo hành <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Đơn vị <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Xoá <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                </tr>
                                <tr align="center">
                                    <th style="border-color: black; padding-bottom: 20px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search1" onkeyup="search1()" style="width: 150px">
                                        <i class="fa fa-search" aria-hidden="true" style="position: absolute; padding-top: 5px; padding-left: 5px; font-size: 15px"></i>
                                    </th>
                                    <th style="border-color: black; padding-bottom: 20px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search1" onkeyup="search2()" style="width: 150px">
                                        <i class="fa fa-search" aria-hidden="true" style="position: absolute; padding-top: 5px; padding-left: 5px; font-size: 15px"></i>
                                    </th>
                                    <th style="border-color: black; padding-bottom: 20px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search1" onkeyup="search3()" style="width: 100px">
                                        <i class="fa fa-search" aria-hidden="true" style="position: absolute; padding-top: 5px; padding-left: 5px; font-size: 15px"></i>
                                    </th>
                                    <th style="border-color: black; padding-bottom: 20px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search1" onkeyup="search4()" style="width: 150px">
                                        <i class="fa fa-search" aria-hidden="true" style="position: absolute; padding-top: 5px; padding-left: 5px; font-size: 15px"></i>
                                    </th>
                                    <th style="border-color: black; padding-bottom: 20px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search1" onkeyup="search5()" style="width: 100px">
                                        <i class="fa fa-search" aria-hidden="true" style="position: absolute; padding-top: 5px; padding-left: 5px; font-size: 15px"></i>
                                    </th>
                                    <th style="border-color: black; padding-bottom: 20px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search1" onkeyup="search6()" style="width: 100px">
                                        <i class="fa fa-search" aria-hidden="true" style="position: absolute; padding-top: 5px; padding-left: 5px; font-size: 15px"></i>
                                    </th>
                                    <th style="border-color: black; padding-bottom: 20px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search1" onkeyup="search7()" style="width: 100px">
                                        <i class="fa fa-search" aria-hidden="true" style="position: absolute; padding-top: 5px; padding-left: 5px; font-size: 15px"></i>
                                    </th>
                                    <th style="border-color: black; padding-bottom: 20px; width: 80px" class="sort_col_table" scope="col">
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 " style="padding-left: 200px">
                        <div class="margin-top-30">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 text-center">
                                <button type="submit" class="btn btn-success">
                                    Thêm sản phẩm
                                </button>
                                <a href="~/Product/Index" class="btn grey-salt gray" type="button">
                                    <i></i> Hủy
                                </a>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <input type="hidden" id="Ahihi" value="@Url.Action("ListPro","Product")" />
</body>
</html>
<script src="~/Content/theme/plugins/DataTables/datatables.js"></script>
<script src="~/Content/CustomJS/Account/Edit.js"></script>
<script type="text/javascript">

    function isDelete() {
        var inputVal = $('input').val()
        var inputid = document.getElementById("idin").value;
        var result = confirm("Bạn có chắc chắn muốn xoá không ?");
        var url = '/Product/Delete/' + inputid;

        if (result) {

            window.location.href = url;
        }
    }

</script>
