

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nhà cung cấp</title>
    <link rel="icon" href="~/Content/Image/logo_vuha.ico">
</head>
<body>
    <div class="container content" id="content-layout">
        <div class="title-header">
            <div class="title-grid">
                <div class="title-flexi-truncate">
                    <div class="title-media">
                        <div class="title-media__figure">
                            <div>
                                <div class="title-icon">
                                    <span>
                                        <img src="~/Content/CustomCSS/Image/contact_120.png" class="title-icon" alt="Contacts" title="Contacts">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <nav>
                                <ol class="title-ol">
                                    <li class="title-li">
                                        <span>Nhà cung cấp</span>
                                    </li>
                                </ol>
                            </nav>
                            <div class="title-grid">
                                <div class="title-header__title">
                                    <div class="title-name">
                                        <div>
                                            <span>Danh sách nhà cung cấp</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-content" style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <div style="flex: 0.6">
                        <form method="post" action="~/Product/Index">
                            <div style="display: flex; padding-top: 20px; padding-left: 30px">
                                <input style="width: 200px " type="text" name="key" placeholder="Gõ tìm kiếm">
                                <button type="submit" class="btn btn title-button title-button--neutral" style="margin-left: 10px">
                                    Tìm kiếm
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="title-grid" style="flex: 0.4; justify-content: flex-end; padding-top: 20px; padding-right: 30px; ">
                        <ul>
                            <li class="btn btn title-button title-button--neutral" onclick="replaceEditAcc()">
                                <a href="~/Supplier/Insert">
                                    Th&#234;m mới
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="padding-top: 10px">
                    <div style="padding-top: 10px">
                        <table id="myTable" class="table table-bordered" style="background-color: white;">
                            <thead>
                                <tr align="center">
                                    <th class="sort_col_table" scope="col">Mã NCC<i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col">Tên NCC <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col">SĐT<i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col">Địa chỉ<i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col">Số nợ<i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col">MS thuế<i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col">Số tài khoản <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col">Tên NH <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col">Active<i class="fa fa-exchange" aria-hidden="true"></i></th>
                                </tr>
                                <tr align="center">
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search1" onkeyup="search1()" />
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search2" onkeyup="search2()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search3" onkeyup="search3()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search4" onkeyup="search4()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search5" onkeyup="search5()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search6" onkeyup="search6()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search7" onkeyup="search7()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search8" onkeyup="search8()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    string Bank = item.BankName + " chi nhánh " + item.BankAddress;
                                    <tr align="center">
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Address</td>
                                        <td>@item.Debt</td>
                                        <td>@item.TIN</td>
                                        <td>@item.BankNumber</td>
                                        <td>@Bank</td>
                                        <td>
                                            <a href="@Url.Action("Update", "Supplier", new {id = item.Id })"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <button onclick="isDelete()" style="margin-left: 10px"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            <input type="hidden" name="" id="idin" value="@item.Id" size="30" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
<script type="text/javascript">

    function isDelete() {
        var inputVal = $('input').val()
        var inputid = document.getElementById("idin").value;
        var result = confirm("Bạn có chắc chắn muốn xoá không ?");
        var url = '/Supplier/Delete/' + inputid;

        if (result) {

            window.location.href = url;
        }
    }

</script>
