@using QLCT.Models
@{ ViewBag.Title = "InsertSell";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@model QLCT.Models.Bill
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thêm Hợp đồng</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="~/favicon.ico">
    <link href="~/Content/theme/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/theme/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/theme/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/theme/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/theme/icons/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/select2-4.0.3/css/select2.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS/Custom_Layout_Backend.css" rel="stylesheet" />


    <script src="~/Content/theme/plugins/jQuery/jquery-2.2.3.min.js"></script>


    <script type="text/javascript" src="~/Content/theme/plugins/notify.js"></script>

</head>
<body>
    <div class="container content" id="content-layout">

        <link href="~/Content/CustomCSS/Accounts/Edit.css" rel="stylesheet" />
        <link href="~/Content/theme/plugins/DataTables/datatables.css" rel="stylesheet" />
        <form id="postAction" method="post" action="/Bill/Insert">
            <div class="title-header">
                <div class="title-grid">
                    <div class="title-flexi-truncate">
                        <div class="title-media">
                            <div class="title-media__figure">
                                <div>
                                    <div class="title-icon" style="background-color: #A094ED">
                                        <span>
                                            <img src="~/Content/CustomCSS/Image/contact_120.png" class="title-icon" alt="Contacts" title="Contacts">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <nav>
                                    <ol class="title-ol">
                                        <li class="title-li">
                                            <span>Hợp đồng</span>
                                        </li>
                                    </ol>
                                </nav>
                                <div class="title-grid">
                                    <div class="title-header__title">
                                        <div class="title-name">
                                            <div>
                                                <span>Lập hợp đồng bán hàng</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-content row">
                <div class="col-md-10">
                    <div class="col-md-12">
                        <div class="general-infor margin-top-15">
                            <div class="col-md-12 infor-title">
                                Th&#244;ng tin cơ bản
                            </div>
                            <div class="col-md-12 infor-body" style="padding-top: 25px; padding-left: 100px">
                                <div class="form-group col-md-6 padding-top-10" id="tenbh">
                                    <label class="col-md-4 control-label">Tên hợp đồng</label><div class="col-md-8"><input type="text" class="form-control" name="NameBill"></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="tenkh">
                                    <label class="col-md-4 control-label">Tên khách hàng</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.IdCustormer, new SelectList(@ViewBag.lstCus, "Id", "Name"))
                                    </div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="nv">
                                    <label class="col-md-4 control-label">Nhân viên phụ trách</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.IdUser, new SelectList(@ViewBag.lstUser, "Id", "Name"))
                                    </div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="nv">
                                    <label class="col-md-4 control-label">Loại hợp đồng</label>
                                    <div class="col-md-8">
                                        <select name="TypeOfBill">
                                            <option>Chọn Loại hợp đồng</option>
                                            <option value="0">Hợp đồng mua</option>
                                            <option value="1">Hợp đồng bán</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="tenbh">
                                    <label class="col-md-4 control-label">Số tiền cọc</label><div class="col-md-8"><input type="text" class="form-control" name="Deposit"></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="tenbh">
                                    <label class="col-md-4 control-label">Số tiền nợ</label><div class="col-md-8"><input type="text" class="form-control" name="Debt"></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="nv">
                                    <label class="col-md-4 control-label">Loại hợp đồng</label>
                                    <div class="col-md-8">
                                        <select name="TypeOfDebt">
                                            <option>Chọn Kiểu nợ</option>
                                            <option value="1">Nợ ngắn hạn</option>
                                            <option value="2">Nợ dài hạn</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="tenbh">
                                    <label class="col-md-4 control-label">Nơi nhận hàng</label><div class="col-md-8"><input type="text" class="form-control" name="AddDelivery"></div>
                                </div>
                            </div>
                            <div class="col-md-12 infor-title">
                                Các sản phẩm trong hợp đồng
                            </div>
                            <div class="col-md-12 infor-body" style="padding-top: 25px; padding-left: 100px">
                                <div class="form-group col-md-6 padding-top-10" id="nv1">
                                    <label class="col-md-4 control-label">Tên sản phẩm</label>
                                    <div class="col-md-8">
                                        <select name="IdProduct" id="selectedPro">
                                            <option>Chọn sản phẩm</option>
                                            @foreach (var item in @ViewBag.lstPro)
                                            {
                                                <option value="@item.Id" data-name="@item.Name">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 padding-top-10" id="tenbh">
                                    <label class="col-md-6 control-label">Số lượng</label><div class="col-md-6"><input type="text" class="form-control" name="Number" id="sl"></div>
                                </div>
                                <div class="form-group col-md-2 padding-top-10" id="tenbh">
                                    <button type="button" onclick="getValue()" name="" id="btnThemsp" value="1">Thêm SP</button>
                                </div>
                                <input type="hidden" id="hiddenIndex" name="hiddenIndex"/>
                                <script type="text/javascript">

                                    function getValue() {
                                        var i = $('#btnThemsp').val();
                                        let html = '<tr align="center">';
                                        html += '<td>';
                                        html += $('#selectedPro').val();
                                        html += '</td>';
                                        html += '<td>';
                                        html += $('#selectedPro').find(":selected").data('name');
                                        html += '</td>';
                                        html += '<td name="Number' + i + '">';
                                        html += $('#sl').val();
                                        html += '</td>';
                                        html += '</tr>';
                                        $("#tbody").append(html);
                                        $('#hiddenIndex').val(i);
                                        let html1 = '<input type="hidden" name="IdPro' + i + '" value="' + $('#selectedPro').val() + '" />';
                                        html1 += '<input type="hidden" name="NamePro' + i + '" value="' + $('#selectedPro').find(":selected").data('name') + '" />';
                                        html1 += '<input type="hidden" name="Number' + i + '" value="' + $('#sl').val() + '" />';
                                        $("#tbody").append(html1);
                                        $('#btnThemsp').val(++i);
                                    }
                                </script>
                            </div>
                            <div style="padding-top: 10px; margin-left: 130px">
                                <table id="myTable" class="table table-bordered" style="background-color: white;">
                                    <thead>
                                        <tr align="center">
                                            <th class="sort_col_table" scope="col"> Mã sản phẩm <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                            <th class="sort_col_table" scope="col"> Tên sản phẩm <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                            <th class="sort_col_table" scope="col"> Số lượng <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                        </tr>
                                        <tr align="center">
                                            <th style="border-color: black; padding-bottom: 20px" class="sort_col_table" scope="col">
                                                <input type="text" name="" id="search1" onkeyup="search1()" style="width: 200px">
                                                <i class="fa fa-search" aria-hidden="true" style="position: absolute; padding-top: 5px; padding-left: 5px; font-size: 15px"></i>
                                            </th>
                                            <th style="border-color: black; padding-bottom: 20px" class="sort_col_table" scope="col">
                                                <input type="text" name="" id="search1" onkeyup="search2()" style="width: 200px">
                                                <i class="fa fa-search" aria-hidden="true" style="position: absolute; padding-top: 5px; padding-left: 5px; font-size: 15px"></i>
                                            </th>
                                            <th style="border-color: black; padding-bottom: 20px" class="sort_col_table" scope="col">
                                                <input type="text" name="" id="search1" onkeyup="search3()" style="width: 200px">
                                                <i class="fa fa-search" aria-hidden="true" style="position: absolute; padding-top: 5px; padding-left: 5px; font-size: 15px"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 " style="padding-left: 200px; padding-bottom: 10px">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6 text-center">
                            <button type="submit" class="btn btn-success" id="insertBill">
                                Lập hợp đồng
                            </button>
                            <a href="~/Product/Index" class="btn grey-salt gray" type="button">
                                <i></i> Hủy
                            </a>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <input type="hidden" id="Ahihi" value="@Url.Action("ListPro","Bill")" />
</body>
</html>

<script src="~/Content/theme/plugins/DataTables/datatables.js"></script>
<script src="~/Content/CustomJS/Account/Edit.js"></script>
