
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model QLCT.Models.Customer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sửa khách hàng</title>
    <link rel="icon" href="~/Content/Image/logo_vuha.ico">
</head>
<body>
    <div class="container content" id="content-layout">
        <form role="form" method="post" action="/Customer/Update/@Model.Id" enctype="multipart/form-data">
            <div class="title-header">
                <div class="title-grid">
                    <div class="title-flexi-truncate">
                        <div class="title-media">
                            <div class="title-media__figure">
                                <div>
                                    <div class="title-icon" style="background-color: #A094ED">
                                        <span>
                                            <img src="~/Content/CustomCSS/Image/contact_120.png" class="title-icon" alt="Contacts" title="Contacts">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <nav>
                                    <ol class="title-ol">
                                        <li class="title-li">
                                            <span>Khách hàng</span>
                                        </li>
                                    </ol>
                                </nav>
                                <div class="title-grid">
                                    <div class="title-header__title">
                                        <div class="title-name">
                                            <div>
                                                <span>Sửa khách hàng</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="data-content row">
                <div class="col-md-9">
                    <div class="col-md-12">
                        <div class="general-infor margin-top-15">
                            <div class="col-md-12 infor-title">
                                Th&#244;ng tin cơ bản
                            </div>

                            <div class="col-md-12" style="padding-top: 25px; padding-left: 50px">
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 '>Mã khách hàng</label><div class='col-md-8'><input type="text" class="form-control" id="Id1" value="@Model.Id" readonly></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Tên khách hàng</label><div class='col-md-8'><input type="text" class="form-control" name="Name" value="@Model.Name"></div>
                                </div>

                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Số điện thoại</label><div class='col-md-8'><input type="text" class="form-control" name="Phone" value="@Model.Phone"></div>
                                </div>

                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Địa chỉ</label><div class='col-md-8'><input type="text" class="form-control" name="Address" value="@Model.Address"></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Số nợ</label><div class='col-md-8'><input type="text" class="form-control" name="Debt" value="@Model.Debt"></div>
                                </div>
                                <input type="hidden" id="StartDateHidden" value="@Model.StartDate" hidden="" />
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Ngày BĐ nợ</label><div class='col-md-8'><input class="form-control datetime-full" id="StartDate" name="StartDate" placeholder="" readonly="readonly" type="text" ></div>
                                </div>
                                @{
                                    DateTime EndDate = DateTime.Now;
                                    string TypeOfDebt = "Chưa xác định";
                                }
                                @if (Convert.ToInt32(Model.TypeOfDebt) == 1)
                                {
                                    EndDate = Convert.ToDateTime(Model.StartDate).AddMonths(6);
                                    TypeOfDebt = Convert.ToString("Nợ ngắn hạn");
                                }
                                else
                                {
                                    EndDate = Convert.ToDateTime(Model.StartDate).AddMonths(6);
                                    TypeOfDebt = Convert.ToString("Nợ dài hạn");
                                }
                                <input type="hidden" id="EndDateHidden" value="@EndDate" hidden="" />
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Ngày KT nợ</label><div class='col-md-8'><input class="form-control datetime-full" id="EndDate" name="" placeholder="" readonly="readonly" type="text" ></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10" id="nv">
                                    <label class='col-md-4 control-label'>Nhân viên phụ trách</label>
                                    <div class='col-md-8'>
                                        @Html.DropDownListFor(model => model.IdStaff, new SelectList(@ViewBag.lstStaff, "Id", "Name"))
                                    </div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Mã số thuế</label><div class='col-md-8'><input type="text" class="form-control" name="TIN" value="@Model.TIN"></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Số tài khoản</label><div class='col-md-8'><input type="text" class="form-control" name="BankNumber" value="@Model.BankNumber"></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Tên ngân hàng</label><div class='col-md-8'><input type="text" class="form-control" name="BankName" value="@Model.BankName"></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Địa chỉ ngân hàng</label><div class='col-md-8'><input type="text" class="form-control" name="BankAddress" value="@Model.BankAddress"></div>
                                </div>
                                <input type="hidden" id="TypeOfDebtHidden" name="TypeOfDebt" value="@Model.TypeOfDebt" hidden="" />
                                <div class="form-group col-md-12 padding-top-10">
                                    <label class='col-md-4 control-label'>Kiểu nợ</label>
                                    @if (Model.TypeOfDebt == 1)
                                    {
                                        <div class='col-md-4'><input type="radio" name="TypeOfDebt1" id="debt1" value="1" checked> <label> Nợ ngắn hạn</label></div>
                                        <div class='col-md-4'><input type="radio" name="TypeOfDebt1" id="debt2" value="2"> <label> Nợ dài hạn</label></div>
                                    }
                                    else
                                    {
                                        <div class='col-md-4'><input type="radio" name="TypeOfDebt1" id="debt1" value="1"> <label> Nợ ngắn hạn</label></div>
                                        <div class='col-md-4'><input type="radio" name="TypeOfDebt1" id="debt2" value="2" checked> <label> Nợ dài hạn</label></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 " style="padding-left: 200px">
                        <div class="margin-top-30">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 text-center">
                                <button type="submit" id="btn-edit" class="btn btn-success">
                                    Sửa
                                </button>
                                <a href="~/Customer/Index1" class="btn grey-salt gray" type="button">
                                    <i></i> Hủy
                                </a>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
<script src="~/Content/CustomJS/Customer/Update.js"></script>